PORT=5000
MONGO_URI=your_mongodb_connection_string_here
JWT_SECRET=supersecretjwtkey_change_me_in_prod
NODE_ENV=development
ADMIN_SETUP_KEY=your_admin_setup_key_here
FRONTEND_URL=your_frontend_url_here